/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background_image: url("../images/cover-image-dark.png");
  --background_color: var(--black);
  --black: #000028;
  --main_text_color: var(--amaranth);
  --focus_text_color: var(--violet);
  --title_text_color: var(--pink);
  --subtitle_text_color: var(--black);
  --amaranth: #F1B2CE;
  --page_font_family: "IBM Plex mono", monospace;
  --accent_color: var(--pink);
  --pink: #FF0070;
  --menu_list: var(--pink);
  --menu_list_decor: var(--pink);
  --violet: #DB00FF;
  --grey: #353430;
  --cotton: #FFC2E6;
  --purple_pink: #FF8DCB;
  --display_rec: inline-flex;
  --hover_link: var(--amaranth);
  --hover_button: rgba(255, 0, 112, 0.4);
  --focus_link: var(--pink);
  
<<<<<<< HEAD
=======
  
>>>>>>> cdd11e33cd174b99df3eddfbdc470c9aa972f5f4




  
}